
  .top_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
    width: 300px;
    height: 100px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    
  }
  .top_btn1{
    width: 800px;
    height: 90px;
    background: #b32b88;
    color: #FFF;
    
  }
  h1{
   font-size: 60px;
    content: " ";
    display: block;
    border-bottom: solid 3px #ffc778;
    bottom: -3px;
    place-items: center;
   
  }
  .top_center{
    place-items: center;
    padding: 5vh 2vw;
   
  }