
  .toukan_h1{
    font-size: 60px;
    text-align: center;
  }
  .toukan_massage{
    font-size: 30px;
    text-align: center;
    padding: 20px;
  }
  .toukan_link{
    text-align: center;
  }